html {
    height: 100%;
}
div.page-header {
    height: 100px;
}

body {
    position:relative;
    min-height: 100%;
    position: relative;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.wallet-table {
   width: auto !important;
   font-size: 18px;
}

.output-wallet{
    margin-top: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.currency-enter{
  width: 100px;
  align-items: center;
}

.wallet_button{
  width: 160px;
}

.caret {
    position: absolute;
    left: 95%;
    top: 45%;
}

.currency-enter {
 margin-top: 10px;
 height: 30px;
 text-align: center;
}

#received_amount{
    background-color: #ccc;
}

.approve_button {
background-color: #f7f9fb;
margin-top: 20px;
border: 1px solid #d4dce4;
width: 200px;

}

#send_user_wallets{
    width: 400px;
    text-align: center;
    margin-left: 70px;
}

.make-transfer-button {
    width: 100px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-left: 125px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}



.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
    vertical-align: bottom;
    position:fixed;
    bottom:0;
    margin-bottom: 0;
    background: gray;
    width: 100%;
    font-color: white;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}

div.all-info {
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #DAE1E9;
}
.actions {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.action-button {
    margin-left: 15px;
}
.account-head-title {
    float: left;
    font-size: 18px;
    margin-left: 50px;
}

.account-table-header {
    background: rgba(0,0,0,0.02);
    border: 0;
    font-size: 12px;
    text-align: left;
}

.custom-header {
    margin-bottom: 12px;
}

.action-span {
    margin-right: 5px;
}

.wallet-elem-name{
    font-size: 1.5em;
    text-align: left;
    color: blue;
}

.wallet-elem-currency{
    font-size: 1.5em;
    text-align: left;
    font-color: blue;
}

.centered-block{
    position: absolute;
    right: 10%;
    left: 10%;
    padding: 10px;
}

.money-transaction-block{
    position: absolute;
    width: 60%;
    min-height: 100%;
    right: 20%;
    left: 20%;
    padding: 10px;
    font-size: 2em;
}

.data-wallets {
    border: 1px solid gray;
}

.user-name{
    color: white !important;
}
